.mori-elasticSearch {
  .highlight-description {
    background-color: #0042a0;
    padding: 3px 5px;
    border-radius: 5px;
    color: white;
  }
  .title {
    font-size: 14px;
  }
  .description {
    font-size: 12px;
  }
}